<!DOCTYPE HTML>
<html>
<head>
  <title>스프링부트 웹서비스</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </form>

    <button type="button" class="btn btn-outline-success">
      <a href="/post/create?post-type=Q&post-id=">
        글쓰기
      </a>
    </button>
    <ul class="nav nav-pills" style="margin-right: 30px">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true" aria-expanded="false">프로필</a>
        <div class="dropdown-menu">
        {{^sessionedUser}}
          <a class="dropdown-item" href="/user/login">로그인</a>
          <a class="dropdown-item" href="/user/form">회원가입</a>
        {{/sessionedUser}}
        {{#sessionedUser}}
          <a class="dropdown-item" href="/user/logout">로그아웃</a>
          <a class="dropdown-item" href="/user/form/update">정보 수정</a>
          <a class="dropdown-item" href="/post/answer/my-question">내가 쓴 글</a>
          <a class="dropdown-item" href="/post/answer/my-answer">내가 남긴 답변</a>
        {{/sessionedUser}}
        </div>
      </li>
    </ul>
  </nav>
</head>
<body>
<div class="container">