{{>layout/header}}

<form>
  <div class="form-group">
    <label>제목</label>
    <input type="text" class="form-control" id="title" aria-describedby="titleInput" required>
  </div>
  <div class="form-group">
    <label>내용</label>
    <textarea class="form-control" id="content" cols="30" style="resize:none;height:500px; "
              required></textarea>
  </div>
  <!--userId 작업필요 -->
  {{^sessionedUser}}
    <input type="hidden" id="userId" value="guest">
  {{/sessionedUser}}
  {{#sessionedUser}}
    <input type="hidden" id="userId" value="{{sessionedUser.userId}}">
  {{/sessionedUser}}
  <input type="hidden" id="postType" value="{{postType}}">
  <input type="hidden" id="postId" value="{{id}}">
</form>
<button type="button" id="btn-save" class="btn btn-primary">확인</button>

{{>layout/footer}}

<script>
  var main = {
    init: function () {
      var _this = this;
      $('#btn-save').on('click', function () {
        _this.save();
      });
    },
    save: function () {
      var data = {
        title: $('#title').val(),
        userId: $('#userId').val(),
        content: $('#content').val(),
        postType: $('#postType').val(),
        postId: $('#postId').val()
      };
      $.ajax({
        type: 'POST',
        url: '/post/',
        dataType: 'text',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('글이 등록되었습니다.');
        if (data.postId == "") {
          window.location.href = '/';
        } else {
          window.location.href = '/post/read/' + data.postId;
        }
      }).fail(function (error) {
        alert(error.responseText);
      });
    },
  }

  main.init();
</script>