{{>layout/header}}
<div class="card">
  <ul class="card-header">
    <div class="mb-1" style="text-align: center">
      <h5>{{{question.title}}}</h5>
    </div>

    <small style="text-align: left;"><span><a href="javascript:void(0)"
                                              onClick="search_question(this.name)"
                                              name="{{question.userId}}"
                                              style="color: #a7a7a7;">{{question.userId}}</a>
      &nbsp;  &nbsp; </span>
    </small>
    <small style="text-align: left;"><span style="color: #a7a7a7;">{{question.createDate}} &nbsp;  &nbsp; </span>
    </small>
    {{#updateButton}}
      <small style="text-align: left;">
        <a href="/questions/update/{{id}}" id="btn-update" style="color: #a7a7a7;">수정 &nbsp;
          &nbsp; </a></small>
      <small style="text-align: left;">
        <a href="javascript:void(0)" id="btn-delete" style="color: #a7a7a7;">삭제 &nbsp;
          &nbsp; </a></small>
    {{/updateButton}}
    </strong>
  </ul>
  <div class="card-body">
    <pre style="text-align:left;"><p class="card-text">{{{question.content}}}</p></pre>
  </div>
  <div class="card-footer text-muted" style="text-align: right">
    <div style="float: left">
      답변 수 : {{answers.size}}개
    </div>
    <div style="float: right">
      <input type="button" id="answer-button" class="btn btn-outline-success" value="답변 작성"/>
      <input type="button" id="answer-cancel" class="btn btn-outline-success" value="취소"
             style="float: right"/>
      <input type="button" id="answer-save" class="btn btn-outline-success" value="확인"
             style="float: right"/>
    </div>
  </div>
</div>
<div id="answer-form" style="display: none">
  <form>
    <div class="form-group">
      <textarea id="summernote"></textarea>
    </div>
  </form>
</div>
<div class="list-group">
  {{#answers}}
    <div class="list-group-item">
      <div>
        <small style="text-align: left;"><a href="javascript:void(0)"
                                            onClick="search_question(this.name)" name="{{userId}}"
                                            style="color:
          #a7a7a7;">{{userId}}</a>&nbsp; &nbsp; </small>
        <small style="color: #a7a7a7;">{{createDate}} &nbsp; </small>
        <small style="text-align: left;">
          <a href="/my-answer/update?id={{id}}" class="answer-{{userId}}"
          style="color: #a7a7a7; display: none">수정 &nbsp; </a>
        </small>
        <small style="text-align: left;">
          <a href="javascript:void(0)" class="answer-{{userId}}"
             onClick="answer_delete('{{id}}')" style="color: #a7a7a7; display: none">삭제 &nbsp;
            &nbsp; </a>
        </small>
      </div>
      <pre><p class="mb-1">{{{content}}}</p></pre>
      </small>
    </div>
  {{/answers}}
</div>

<input type="hidden" id="id" value="{{question.id}}"/>
{{>layout/footer}}


<script>
  var delete_click = true;
  var update_click = true
  var save_click = true;
  document.getElementById('answer-cancel').style.display = "none";
  document.getElementById('answer-save').style.display = "none";
    {{#answers}}
    var answer_userId = '{{userId}}';
    var sessioned_userId = '';
      {{#sessionedUser}}
      sessioned_userId = '{{userId}}';
      {{/sessionedUser}}
    if (answer_userId == sessioned_userId) {
      $('.answer-' + sessioned_userId).css({'display': 'inline-block'})
    } else {
      console.log('.answer-' + answer_userId + "사라짐");
      $('.answer-' + answer_userId).remove();
    }

    {{/answers}}
  var main = {
    init: function () {
      var _this = this;
      $('#answer-button').on('click', function () {
        document.getElementById('answer-button').style.display = "none";
        document.getElementById('answer-form').style.display = "block";
        document.getElementById('answer-cancel').style.display = "block";
        document.getElementById('answer-save').style.display = "block";
      });
      $('#answer-save').on('click', function () {
        if (save_click) {
          var content = $('#summernote').val()
          if (content.trim() === "" || content === null) {
            alert("내용을 입력하세요!")
            return;
          }
          _this.save();
          save_click = !save_click;

          // 타이밍 추가
          setTimeout(function () {
            click = true;
          }, 2000)

        } else {
          alert("처리중 입니다!");
        }
      });
      $('#answer-cancel').on('click', function () {
        document.getElementById('answer-button').style.display = "block";
        document.getElementById('answer-save').style.display = "none";
        document.getElementById('answer-cancel').style.display = "none";
        document.getElementById('answer-form').style.display = "none";
      });
      $('#btn-delete').on('click', function () {
        if (delete_click) {
          if (confirm("글을 삭제하시겠습니까?") == false) {
            return;
          }
          _this.delete();
          delete_click = !delete_click;

          // 타이밍 추가
          setTimeout(function () {
            delete_click = true;
          }, 2000)

        } else {
          alert("처리중 입니다!");
        }
      });
    },
    save: function () {
      var data = {
        content: $('#summernote').val(),
        questionId: $('#id').val(),
      };
      $.ajax({
        type: 'POST',
        url: '/api/v1/answers',
        dataType: 'text',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('답변이 등록되었습니다.');
        window.location.href = '/questions/' + $('#id').val();
      }).fail(function (error) {
        alert(error.responseText);
      });
    },
    delete: function () {
      var id = $('#id').val();
      $.ajax({
        type: 'DELETE',
        url: '/api/v1/questions/' + id,
        dataType: 'text',
        contentType: 'application/json; charset=utf-8',
      }).done(function () {
        alert('글이 삭제되었습니다.');
        window.location.href = '/';
      }).fail(function (error) {
        if (error.status == 403) {
          alert('본인의 게시물만 삭제할 수 있습니다.');
        }
        if (error.status == 401) {
          window.location.href = '/user/login';
        }
      })
    },

  };

  function answer_delete(id) {
    if (confirm("답변을 삭제하시겠습니까?") == false) {
      return;
    }
    $.ajax({
      type: 'DELETE',
      url: '/api/v1/answers/' + id,
      dataType: 'text',
      contentType: 'application/json; charset=utf-8',
    }).done(function () {
      alert('답변이 삭제되었습니다.');
      window.location.reload();
    }).fail(function (error) {
      if (error.status == 403) {
        alert('본인의 게시물만 삭제할 수 있습니다.');
      }
    })
  }

  function search_question(userId) {
    if (userId != 'guest') {
      window.location.href = '/search/user?no=1&id=' + userId;
    }
  }

  main.init();
</script>
{{>layout/editor}}
