{{>layout/header}}
<form>
  <div class="form-group">
    <label>제목</label>
    <input type="text" class="form-control" id="title" aria-describedby="titleInput" required
           value="{{post.title}}">
  </div>
  <div class="form-group">
    <label>내용</label>
    <textarea class="form-control" id="content" cols="30" style="resize:none;height:500px; "
              required>{{post.content}}</textarea>
  </div>
  <input type="hidden" id="id" value="{{post.id}}">
</form>
<button type="button" id="btn-update" class="btn btn-primary">확인</button>
{{>layout/footer}}

<script>
  var main = {
    init: function () {
      var _this = this;
      $('#btn-update').on('click', function () {
        _this.update();
      })
    },
    update: function () {
      var data = {
        id: $('#id').val(),
        title: $('#title').val(),
        content: $('#content').val()
      };
      $.ajax({
        type: 'PUT',
        url: '/post/' + data.id,
        dataType: 'text',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('글이 수정되었습니다.');
        window.location.href = '/post/read/' + data.id;
      }).fail(function (error) {
        alert('본인의 게시물만 수정할 수 있습니다.')
      });
    },
  };

  main.init();
</script>
