{{>layout/header}}
<form>
  <div class="form-group">
    <label>제목</label>
    <input type="text" class="form-control" id="title" aria-describedby="titleInput"
           required="required"
           value="{{question.title}}">
  </div>
  <div class="form-group">
    <label>내용</label>
    <textarea id="summernote">{{question.content}}</textarea>
  </div>
  <input type="hidden" id="id" value="{{question.id}}">
</form>
<button type="submit" id="btn-update" class="btn btn-primary">확인</button>
{{>layout/footer}}

<script>
  var click = true;

  var main = {
    init: function () {
      var _this = this;
      $('#btn-update').on('click', function () {
        if (click) {
          var content = $('#summernote').val()
          if (content.trim() === "" || content === null) {
            alert("내용을 입력하세요!")
            return;
          }
          _this.update();
          click = !click;
          // 타이밍 추가
          setTimeout(function () {
            click = true;
          }, 2000)

        } else {
          alert("처리중 입니다!");
        }
      });
    },
    update: function () {
      var data = {
        id: $('#id').val(),
        title: $('#title').val(),
        content: $('#summernote').val()
      };
      $.ajax({
        type: 'PUT',
        url: '/api/v1/questions/' + data.id,
        dataType: 'text',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('글이 수정되었습니다.');
        window.location.href = '/questions/' + data.id;
      }).fail(function (error) {
        alert(error.responseText);
      });
    },
  };

  main.init();
</script>
{{>layout/editor}}
