{{>layout/header}}

<div class="container">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">title</h5>
          <small>create date</small>
        </div>
        <p class="mb-1">content</p>
        <small>user</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">title</h5>
          <small>create date</small>
        </div>
        <p class="mb-1">content</p>
        <small>user</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">title</h5>
          <small>create date</small>
        </div>
        <p class="mb-1">content</p>
        <small>user</small>
      </a>
    </div>
  </div>
</div>

{{>layout/footer}}
