<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
{{>layout/header}}
<div class="list-group" style="height: 750px; border: 1px solid rgba(0,0,0,.125)">
  {{#posts}}
    <a href="/post/read/{{id}}" class="list-group-item list-group-item-action"
       style="height: 150px">
      <div class="d-flex w-100 justify-content-between">
        <div class="mb-1">
          <h5>{{{title}}}</h5>
        </div>
        <small>{{createDate}}</small>
      </div>
      <pre><p class="content-preview"></p></pre>
      <small>{{userId}}</small>
    </a>
  {{/posts}}
</div>
<div style="text-align: center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {{^previous}}
        <li id="previousPage" class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {{/previous}}
      {{#previous}}
        <li class="page-item">
          <a class="page-link" href="/page?no={{previous}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {{/previous}}
      {{^page}}
        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
      {{/page}}
      {{#page}}
        <li class="page-item" id="page_{{.}}"><a class="page-link" href="/page?no={{.}}">{{.}}</a>
        </li>
      {{/page}}
      {{^next}}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {{/next}}
      {{#next}}
        <li class="page-item">
          <a class="page-link" href="/page?no={{next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {{/next}}
    </ul>
  </nav>
</div>
{{>layout/footer}}

<script>
  var currentPage = document.getElementById("page_{{currentPage}}");
  currentPage.className = "page-item disabled";
  var title = document.getElementsByClassName("panel-title");
</script>
